
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('src/assets/avatars/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; /* Adjust the opacity value as needed */
  }
  